.app-wrap{
	height: 100%;
}
.main-content{
	height: 100%;
}
.sider-bar, .content{
	min-height: 100%;
	float: left;
}
.sider-bar{
	background: #001529;
}
.ant-layout-has-sider{
	height: 100%;
}
.app-content{
	padding:20px;
}