
 <section class="app-wrap">
   <nz-layout>
      <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
        <div class="logo" >
           {{ !isCollapsed ? 'XX管理系统' : 'XX...' }} 
        </div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
          <li _ngcontent-c0="" routerLink="home" nz-menu-item="" class="ant-menu-item" style="padding-left: 24px;"><span _ngcontent-c0=""><i _ngcontent-c0="" class="anticon anticon-file"></i><span _ngcontent-c0="" class="nav-text">Home</span></span></li>
          <li nz-submenu>
        <span title><i class="anticon anticon-setting"></i>demo页面</span>
        <ul>
          <li nz-menu-item routerLink="demo/page_one">page1</li>
          <li nz-menu-item routerLink="demo/page_two">page2</li>
           <li nz-menu-item routerLink="demo/page_three">page3</li>
        </ul>
      </li>
      
        </ul>
      </nz-sider>
      <nz-layout>
        <nz-header style="background: #fff; padding:0;">
          <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
          <ul nz-menu  style="line-height:64px;height:64px;float: right;border-right:0;">
            <li style="line-height:64px;height:64px;float: left;" nz-menu-item>欢迎您！ 【 {{username}} 】</li>
            <li (click)="logout()" style="line-height:64px;height:64px;color:#1890ff;float: left;" nz-menu-item>退出</li>
          </ul>
        </nz-header>
        <nz-content style="margin:0 16px;">
          <nz-breadcrumb style="margin:16px 0;">
            <nz-breadcrumb-item>User</nz-breadcrumb-item>
            <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
          </nz-breadcrumb>
          <div style="padding:24px; background: #fff; min-height: 360px;">
            <router-outlet></router-outlet>
          </div>
        </nz-content>
        <nz-footer style="text-align: center;">Created by huanghua since 2018/09/06</nz-footer>
      </nz-layout>
    </nz-layout>
    <ng-template #trigger>
      <i class="anticon anticon-up"></i>
    </ng-template>
 
 </section> 