
 <section class="app-wrap">
   <nz-layout>
      <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
        <div class="logo" >
           {{ !isCollapsed ? 'XX管理系统' : 'XX...' }} 
        </div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
          <li nz-submenu>
        <span title><i class="anticon anticon-setting"></i> Navigation Three</span>
        <ul>
          <li nz-menu-item>Option 9</li>
          <li nz-menu-item>Option 10</li>
          <li nz-menu-item>Option 11</li>
        </ul>
      </li>
        <li class="ng-tns-c1-0 ant-menu-submenu ant-menu-submenu-inline" routerLink="/home" style="padding-left: 24px;height:43px;line-height: 43px">
            <span title><i style="margin-right: 10px" class="anticon anticon-user"></i><span class="nav-text">待审核</span></span>
        </li>

        <li    class="ng-tns-c1-0 ant-menu-submenu ant-menu-submenu-inline ant-menu-submenu-open">
          <div _ngcontent-c1="" class="ng-tns-c1-0 ant-menu-submenu-title" cdkoverlayorigin="" style="padding-left: 24px;"><span _ngcontent-c0="" title="">
             <i _ngcontent-c0="" class="anticon anticon-setting"></i> 重点关注</span><i _ngcontent-c1="" class="ng-tns-c1-0 ant-menu-submenu-arrow"></i>
          </div>
          <ul _ngcontent-c1="" class="ng-tns-c1-0 ng-trigger ng-trigger-expandAnimation ant-menu ant-menu-inline ant-menu-sub ng-star-inserted" style="height: 0px; overflow: hidden;">
            <ul _ngcontent-c0="" class="ng-star-inserted" style="">
              <li _ngcontent-c0="" nz-menu-item="" class="ant-menu-item" style="padding-left: 48px;">页面1</li>
              <li _ngcontent-c0="" nz-menu-item="" class="ant-menu-item" style="padding-left: 48px;">页面2</li>
            </ul> 
          </ul>
         
     
        </li>
        <li _ngcontent-c0="" nz-menu-item="" class="ant-menu-item" style="padding-left: 24px;"><span _ngcontent-c0=""><i _ngcontent-c0="" class="anticon anticon-file"></i><span _ngcontent-c0="" class="nav-text">File</span></span></li>
        </ul>
      </nz-sider>
      <nz-layout>
        <nz-header style="background: #fff; padding:0;">
          <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
          <ul nz-menu  style="line-height:64px;height:64px;float: right;border-right:0;">
            <li style="line-height:64px;height:64px;float: left;" nz-menu-item>欢迎您！ 【 {{username}} 】</li>
            <li (click)="logout()" style="line-height:64px;height:64px;color:#1890ff;float: left;" nz-menu-item>退出</li>
          </ul>
        </nz-header>
        <nz-content style="margin:0 16px;">
          <nz-breadcrumb style="margin:16px 0;">
            <nz-breadcrumb-item>User</nz-breadcrumb-item>
            <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
          </nz-breadcrumb>
          <div style="padding:24px; background: #fff; min-height: 360px;">
            <router-outlet></router-outlet>
          </div>
        </nz-content>
        <nz-footer style="text-align: center;">Created by huanghua since 2018/09/06</nz-footer>
      </nz-layout>
    </nz-layout>
    <ng-template #trigger>
      <i class="anticon anticon-up"></i>
    </ng-template>
 
 </section> 