 <nz-table
 *ngIf="anyList"
  #rowSelectionTable
  [nzData]="anyList"
  [nzFrontPagination]="false"
  [nzTotal]="total"
  nzSize="middle"
  [nzBordered]="false"
  [nzLoading]="loading"
  [nzPageSize]="pageSize"
  [(nzPageIndex)]="pageNum"
  nzTitle="示例表格"
  nzFooter="备注：xxx"
  [nzShowQuickJumper]="true"
  (nzPageIndexChange)="getData()"
  (nzPageSizeChange)="getData()"
  >
  <thead>
    <tr>
      <th  ></th>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody style="background: #fff;">
    <tr *ngFor="let data of rowSelectionTable.data">
      <td  ></td>
      <td>{{data.name}}</td>
      <td>{{data.age}}</td>
      <td>{{data.address}}</td>
    </tr>
  </tbody>
</nz-table>

